<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>es.albarregas.controllers.Inicio</listener-class>
    </listener>
    <servlet>
        <servlet-name>ContrRegistro</servlet-name>
        <servlet-class>es.albarregas.controllers.ContrRegistro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContrRegistro</servlet-name>
        <url-pattern>/ContrRegistro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContrCarrito</servlet-name>
        <servlet-class>es.albarregas.controllers.ContrCarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContrCarrito</servlet-name>
        <url-pattern>/ContrCarrito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>Tienda Web</description>
        <res-ref-name>jdbc/web</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
